<mat-toolbar color="primary"  > Maximillian course practice
  <button mat-raised-button color="accent"  [matMenuTriggerFor]="menu">Nav Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</button>

  <button mat-menu-item [routerLink]="['/odd']" routerLinkActive="router-link-active"  >Odd</button>
  <button mat-menu-item [routerLink]="['/even']" routerLinkActive="router-link-active" >Even</button>
</mat-menu>

</mat-toolbar>

<router-outlet></router-outlet>
