

.cool-class {
  background-color: chartreuse;
  color: teal;
  font-size: 50px;
  height: 100px;
  width: 100px;
}

.uncool-class {
  background-color: black;
  color: white;
  font-size: 50px;
  height: 100px;
  width: 100px;
}
