


<p>{{titleMessage | uppercase | shorten: 100: 'this is the alternate message'}}</p>
<p>{{currentDate | date: 'fullDate' | uppercase}}</p>

<p *ngIf='obsActivated'>Activated!</p>

<p *ngIf="counter%2 === 0; else oddMessage"   >Second Power: {{secondPower}} Third Power: {{thirdPower}} Fourth Power {{fourthPower}} </p>
<ng-template #oddMessage>
  <p appBetterHighlight>Counter is an odd number </p>

</ng-template>

<app-event-emitter
  (numInc)="onNumIncreased($event)"
  [emitVariable]="counter"
>


</app-event-emitter>

<ng-template [ngIf]="counter%2 === 0">
  <p appAddClass  >Content Content</p>
  <p appAddClass >Content Content</p>
  <p appAddClass >Content Content</p>
  <p>Content Content</p>
  <p>Content Content</p>
</ng-template>
<app-subscriber></app-subscriber>


